#clock{
height:500px;
width:500px;
background-image:url('../img/clock.gif');
background-size:cover;
position:relative;
}
#hr{
background-color:red;
height:150px;
width:7px;
position:absolute;
left:243.3px;
top:101px;
//display:none;
transform-origin:bottom;
}
#min{
background-color:green;
height:175px;
width:5px;
position:absolute;
left:244px;
top:77px;
//display:none;
transform-origin:bottom;
//rotate:90deg;
}
#sec{
background-color:blue;
height:200px;
width:3px;
position:absolute;
left:246px;
top:51px;
//display:none;
transform-origin:bottom;
//rotate:60deg;
}